*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-tulips-blooming-in-field-royalty-free-image-1584131616.jpg?crop=0.630xw:1.00xh;0.186xw,0&resize=640:*");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130px;
    position: relative;
}

.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10, 10, 10, 0.3);
}

navbar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

h3{
    color: wheat;
}

navbar li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

navbar li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    background-color: whitesmoke;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a{
    background-color:darkred;
    color: darkgrey;
    cursor: pointer;
    text-decoration: none;
}

.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: dimgrey;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}


/* ...................Shop Page..................*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header{
    width: 100%;
    max-width: 650%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid slategray;
    margin: 0 auto;
}

.product-title{
    width: 40%;
}

.price{
    width: 15%;
    border-bottom: slategray;
    display: flex;
    align-items: center;
}

.quantity{
    width: 30%;
    border-bottom: 1px solid slategray;
    display: flex;
    align-items: center;
}

.total{
    width: 10%;
    border-bottom: 1px solid slategray;
    display: flex;
    align-items: center;
}

.product{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid slategray;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100;
    padding: 10px 0;
}

.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width: 10px;
}

